@page "/"

<PageTitle>Index</PageTitle>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" type="text/css" href="Index.razor/Index.razor.css">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600&display=swap" rel="stylesheet">

<body>
    <div>
        <h1 class="steps">Шаг 1 из 3</h1>
    </div>
</body>

<style>
    .steps {
        text-align: center;
        margin: 20px 0;
        padding: 10px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 900;
    }

    .description {
        text-align: center;
        margin: 10px 0;
        padding: 10px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 900;
    }

    body {
        background-color: #e0e0e0;
    }
</style>

<BlazorCarousel />